.metadata/.ide.log
.metadata/.lock
.metadata/.log
.metadata/.log4j2.xml
.metadata/version.ini
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.3.0.202410091335
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/FastBit_Badweh_Bootloader.1770460736326.pdom
.metadata/.plugins/org.eclipse.cdt.core/FastBit_Badweh_Bootloader.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/FastBit_Badweh_UserApplication.1770460852419.pdom
.metadata/.plugins/org.eclipse.cdt.core/FastBit_Badweh_UserApplication.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.cdt.ui/FastBit_Badweh_Bootloader.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/1/d0e61837110400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/19/00dc3c7a110400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/19/709d3219230400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/46/a0dd962a240400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/56/20c5a2bb1f0400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/64/308f867a110400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/6e/1003395c240400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/6f/b0f29161220400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/7a/20a8c636110400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/8a/e00a1054230400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/e/a0aec60b240400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/e3/90ada456250400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.history/e8/c0911bc21f0400111571d0366506c320
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_Bootloader/.indexes/bf/c4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_UserApplication/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_UserApplication/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_UserApplication/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_UserApplication/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/FastBit_Badweh_UserApplication/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-FastBit_Badweh_Bootloader.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-FastBit_Badweh_UserApplication.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
FastBit_Badweh_Bootloader/Debug/FastBit_Badweh_Bootloader.elf
FastBit_Badweh_Bootloader/Debug/FastBit_Badweh_Bootloader.list
FastBit_Badweh_Bootloader/Debug/FastBit_Badweh_Bootloader.map
FastBit_Badweh_Bootloader/Debug/makefile
FastBit_Badweh_Bootloader/Debug/objects.list
FastBit_Badweh_Bootloader/Debug/objects.mk
FastBit_Badweh_Bootloader/Debug/sources.mk
FastBit_Badweh_Bootloader/Debug/Core/Src/main.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/main.d
FastBit_Badweh_Bootloader/Debug/Core/Src/main.o
FastBit_Badweh_Bootloader/Debug/Core/Src/main.su
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_hal_msp.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_hal_msp.d
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_hal_msp.o
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_hal_msp.su
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_it.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_it.d
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_it.o
FastBit_Badweh_Bootloader/Debug/Core/Src/stm32f4xx_it.su
FastBit_Badweh_Bootloader/Debug/Core/Src/subdir.mk
FastBit_Badweh_Bootloader/Debug/Core/Src/syscalls.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/syscalls.d
FastBit_Badweh_Bootloader/Debug/Core/Src/syscalls.o
FastBit_Badweh_Bootloader/Debug/Core/Src/syscalls.su
FastBit_Badweh_Bootloader/Debug/Core/Src/sysmem.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/sysmem.d
FastBit_Badweh_Bootloader/Debug/Core/Src/sysmem.o
FastBit_Badweh_Bootloader/Debug/Core/Src/sysmem.su
FastBit_Badweh_Bootloader/Debug/Core/Src/system_stm32f4xx.cyclo
FastBit_Badweh_Bootloader/Debug/Core/Src/system_stm32f4xx.d
FastBit_Badweh_Bootloader/Debug/Core/Src/system_stm32f4xx.o
FastBit_Badweh_Bootloader/Debug/Core/Src/system_stm32f4xx.su
FastBit_Badweh_Bootloader/Debug/Core/Startup/startup_stm32f401retx.d
FastBit_Badweh_Bootloader/Debug/Core/Startup/startup_stm32f401retx.o
FastBit_Badweh_Bootloader/Debug/Core/Startup/subdir.mk
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_crc.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_crc.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_crc.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_crc.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.cyclo
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.d
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.o
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.su
FastBit_Badweh_Bootloader/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
FastBit_Badweh_Bootloader/.settings/language.settings.xml
FastBit_Badweh_Bootloader/.settings/org.eclipse.core.resources.prefs
FastBit_Badweh_Bootloader/.settings/stm32cubeide.project.prefs
FastBit_Badweh_Bootloader/FastBit_Badweh_Bootloader.launch
FastBit_Badweh_UserApplication/.settings/language.settings.xml
FastBit_Badweh_UserApplication/.settings/org.eclipse.core.resources.prefs
FastBit_Badweh_UserApplication/.settings/stm32cubeide.project.prefs
